<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 205) {
                $('.scrollup').fadeIn(3000);
                $("#topHeader").fadeOut(2000);
                $('.scrollDown').fadeOut(1500)
                $("#hiddenHeader").fadeIn(1500);
            }else if($(this).scrollTop() < 200){
                $("#topHeader").fadeIn(1500);
                $(".scrollDown").fadeIn(1500);
                $('.scrollup').fadeOut();
                $("#hiddenHeader").fadeOut(1000);
            }
        });
        $('.scrollup').click(function () {
            $("html, body").animate({
               scrollTop: 0
            }, 600);
            return false;
        });
        $(".menu").click(function(){
            $(".horizontal-navigation-bar").toggle();
        });
        $('.scrollDown').slideDown().click(function (evn) {
            evn.preventDefault();
            $('html,body').scrollTo(this.hash, this.hash);
        });
    });
</script>


<style>
    html, body {
      max-width: 100%;
      overflow-x: hidden;
      font-family: 'Roboto', sans-serif;
    }
    .horizontal-navigation-bar{
        display: none;
        position: fixed !important;
        z-index: 9999;
        left: 100px;
    } 
    #page-title{
        display:none;
    }
    #hiddenHeader{
      
        position: absolute;
        top:470px;
        display:hidden;
    }
    a.scrollDown{
        display: none;
        text-align: center;
        position:fixed;
        bottom: 20px;
        left: 0;
        right:0;
        z-index: 999;
        color: black;
        font-size: 40px;
        margin-left: -1600px;
        margin-right: -1600px;
        animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
    }
    .fa-angle-double-down:before {content: "\f103";}
 
   
 
    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
        40% {-webkit-transform: translateY(-30px);}
        60% {-webkit-transform: translateY(-15px);}
    }
     
    @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
        40% {-moz-transform: translateY(-30px);}
        60% {-moz-transform: translateY(-15px);}
    }
     
    @-o-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
        40% {-o-transform: translateY(-30px);}
        60% {-o-transform: translateY(-15px);}
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-15px);}
    }
    p.menu{
        position: fixed;
        left:10px;
        top: 50px;
        z-index: 999;
        color: black;
    }
    #top{ 
        background-color:rgb(14,95,166);
        height:1000px;
        padding-top:300px;
        margin-left: -1600px;
        margin-right: -1600px;
   
    }
    #top h3 {
        color:white;
        text-align:center;
        font-size: 60px;
    }
    #topMid{
        margin-left: -1600px;
        margin-right: -1600px;
        text-align:left;
        padding-top: 100px;
        height: 400px;
        background-color: rgb(209,209,209);
    }
    #topMid img{
        height:250px;
    }
    #metering{
        margin-left: -1600px;
        margin-right: -1600px;
        padding-top: 100px;
        height: 500px;
        color: white;
      /*  background-color: rgb(14,95,166);*/
        background: url('http://www.download3dhouse.com/wp-content/uploads/2013/02/Luxury-billiard-hall-interior-design.jpg');

    }
    #metering h4, #metering h2{
        color: white;
    }
    #office{
        height:700px;
        z-index:999;
        background:url('http://static1.squarespace.com/static/54db9f6de4b088f32cfb6567/t/579bb7f6bebafb74c7ba729d/1469822982416/office.png');
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-left: -1600px;
        margin-right: -1600px;

    }
    #office img{
        width:600px;
        padding-bottom: 100px;
    }
    #dash{
        text-align:center;
        height: 800px;
    }
    #residence{
        margin-left: -1600px;
        margin-right: -1600px;
        padding-top: 100px;
        height: 500px;
        background-color:rgb(14,95,166);

    }
    #commercial{
        margin-left: -1600px;
        margin-right: -1600px;
        padding-top: 100px;
        height: 500px;
        background-color: grey;

    }
</style>